/**
 * Main SCSS file
 */

*[ng-cloak] {
  display: none;
}

* {
  font-family: monospace;
  font-size: 12pt;
}

input[type=text] {
  padding: 5px;
}

//noinspection SassScssUnresolvedVariable
body:after {
  display: block;
  margin-top: 10px;
  content: "$environment: #{$environment} / $revision: #{$revision}";
}
